/*ukljuÄiti je na sve stranice ovo za tablicu*/

@media only screen and (max-width: 479px) {
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    #sadrzajtablica {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        padding: 0px;
        margin-right: 0px;
        text-align: center;
    }

    nav {
        width: 100%;
        margin: 0 auto;
        background: black;
        color: white;
        list-style: none;
        text-align: center;
        overflow-x: hidden;
    }

    .nav > li {
        display: list-item;
        padding: 2%;
        width: 100%;
    }

    .fotografija_pocetna{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /*----------------------------------------------*/
    .podaci {
        position: relative;
        top: 29px;
        left: 0%;
        padding-left: 10%;
    }

    #omeni{
        padding: 0px;
    }

    #oautoru{
        left: 0%;
        padding-left: 5%;
        margin-left: 0px;
    }

    .usluge{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }


    .omeni {
        position: relative;
        top: 50px;
        left: 0%;
        padding-left: 5%;
        height: 150px;
        width: 320px;
        text-align: center;
    }

    .clanci {
        border-style: dotted;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-color: black;

        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        top: 40px;
        text-align: center;
        height: 2000px;
    }

    #prviclanak {
        position: relative;
        width: 320px;
        height: 150px;
        top: -1%;
    }

    #drugiclanak {
        position: relative;
        width: 320px;
        height: 150px;
        top: 8%;
        left: -1%;
    }

    #treciclanak {
        position: relative;
        width: 320px;
        height: 150px;
        left: -1%;
        top: 14%;
    }

    #cetvrticlanak {
        position: relative;
        width: 320px;
        height: 150px;
        left: -1%;
        top: 20%;
    }

    #peticlanak {
        position: relative;
        width: 320px;
        height: 150px;
        left: -1%;
        top: 28%;
    }

    #sesticlanak {
        position: relative;
        width: 320px;
        height: 150px;
        left: -1%;
        top: 35%;
    }

    /*----------------------------------------------*/

    #prijava{
        margin-left: 5%;
        margin-right: 5%;
        padding: 7%;
    }

    /*----------------------------------------------*/

    #registracija{
        margin-left: 2%;
        margin-right: 2%;
        padding: 2%;
    }

    .labela{
        font-size: small;

    }

    /*----------------------------------------------*/

    #obrazac{
        padding:0%;
    }

    fieldset{
        padding: 0%;
        border-color: black;
    }


    #tablicaslika{
        padding-left: 0%;
    }

    #tablicasportas{
        padding-left: 0%;
    }

    #tablicakontakt{
        padding-left: 0%;
    }

    textarea{
        height: 50%;
        width: 50%;
    }

    #webadresa{
        width: 50%;
    }
    /*----------------------------------------------*/
    .grid-kontejner {
        display: list-item;
        padding: 10px;
    }

    .era{
        width: 200px;
        height: 200px;
    }

    #sadrzajera{
        text-align: center;
    }

    .navigacijski{
        width: 200px;
        height: 200px;
    }

    #sadrzajnavigacijski{
        text-align: center;
    }
}

